{% for project in projects %}
<a href={{project.html_url}} class="w-1/4 p-2 m-8 primary-dark relative overflow-hidden githubProject">
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <h2 class="text-xl bold mb-2"> {{project.name}} </h2>
    {% if project.language != None %}
        <p class="text-sm"> Most of this project is written in <em> {{project.language.as_ref().unwrap()}} </em> </p>
    {% endif %}
    <p class="mt-3"> {{project.description}} </p>
</a>
{% endfor %}
