<div id="navbar" class="fixed object-left-top w-full h-32 z-50" >
    <div id="navbar-content" class="translate-y-0 flex transform duration-500 ease-out flex-wrap fixed align-middle object-left-top p-5 w-screen bg-gradient-to-b from-blue-600 to-transparent">
        <a href="/home" class="text-6xl mr-auto navbar"> Jack Kammerer </a>
        <div class="flex ml-auto flex-wrap navbar">
            {% for link in links %}
            <div onclick="scrollToElement('{{link|lowercase}}')" class="text-xl m-3 p-2 rounded-xl cursor-pointer transform hover:scale-125 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-gradient-to-r before:from-transparent before:to-indigo-600 before:transition-all duration-125 before:-z-10 before:translate-x-full before:hover:translate-x-0 overflow-hidden"> 
                {{link}}/ 
            </div>
            {% endfor %}
        </div>
    </div>
</div>